[submodule "thirds/SpeechCLIP"]
	path = thirds/SpeechCLIP
	url = https://github.com/Wenhao-Yang/SpeechCLIP.git
	branch = github
[submodule "thirds/YOLO-World"]
	path = thirds/YOLO-World
	url = https://github.com/Wenhao-Yang/YOLO-World.git
	branch = github
